body {
	margin: 0;
}

ul {
	padding: 0;
	margin:0;
}


.insta-header {
	margin-top: 0px;
}

.insta-header ul {
	text-align: center;
	background: linear-gradient(to bottom, #959595, white);
	/*background-color: #D5D5D5;*/
	padding-top: 20px;
}

.insta-header li {
	display: inline;
	list-style: none;

}

.insta-header h1 {
	padding-bottom: 15px;
}

.title-header {
	color: #FF4D4D;
	font-family: 'Work Sans', sans-serif;
	font-size: 40px;
	margin: 1px 0px 2px;
}

.hrTop {
	color: #EAEAEA;
	width: 66%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.explainer p {
	color: #3f729b;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
}

.search {
	width: 40%;
	margin: auto;
}

#searchBox {
	border-radius: 5px;
	border: 2px solid #B8B8B8;
	width: 100%;
	height: 40px;	
	background-color: #FFF;
	font-family: 'Work Sans', sans-serif;
	font-size: 25px;
	margin-bottom: 25px
}	

.submit {
	width: 25%;
	margin: auto;
	padding-bottom: 1em;
}

#submitSearch {
	border-radius: 10px;
	height: 40px;
	width: 100%;
	background-color: #125688;
	font-family: 'Work Sans', sans-serif;
	font-size: 25px;
	color: #FFF;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 25px;
}

#searchResults {
	padding: 0;
}

.photoSlideshow {
	margin-bottom: 5px;
}

.photoSlideshow ul {
	margin-right: auto;
	margin-left: auto;
	margin-top: 1px;
	width: 50%;
	list-style-type: none;
	position: relative;
	min-height: 600px
}

img {
	border-radius: 10px;
	max-width: 100%;
}

.photoSlideshow li {
	position: absolute;
	top: 0;
	right:0;
	bottom: 0;
	left: 0;
	text-align: center;
	margin: 0 auto;
}

.photoSlideshow li p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}

.user {
	color: #CF0000;
	font-size: 30px;
}

.caption {
	color: #3f729b;
	margin-top: 1em;
}

.clearResults {
	width: 20%;
	margin: auto;
}

.photoSlideshow li {
	opacity: 0;
	transition: opacity 5s ease;
}

.photoSlideshow li.visible {
	opacity: 1;
}

#aboutMe {
	position: absolute;
	left: 1em;
	top: 1em;
	height: 40px;
	margin: auto;
	border: none;
	border-radius: 5px;
	background-color: #FF4D4D;
	font-family: 'Work Sans', sans-serif;
	font-size: 25px;
	color: #FFF;
	-webkit-font-smoothing: antialiased;
}

.clearResults button {
	position: absolute;
	right: 1em;
	top: 1em;
	height: 40px;
	margin: auto;
	border: none;
	border-radius: 5px;
	background-color: #FF4D4D;
	font-family: 'Work Sans', sans-serif;
	font-size: 25px;
	color: #FFF;
	-webkit-font-smoothing: antialiased;
}

.hrBottom {
	color: #EAEAEA;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.postedDate {
	color: #3f729b;
}

.user {
	color: #FF4D4D;
	text-decoration: none;
}
